@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.header {
    background: #1f2937;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 70px;
    width: auto;
    
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: white;
  }
  
ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 16 8px;
}
  
.left {
    font-weight: bold;
    font-size: 32px;
    margin-right: 100px;
}

.left, .right {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 30 60px;
}

#main {
    background-color: #1f2937;
}